<div class="card wrapper">
  <div class="card-header">
    <h2>Reset Password</h2>
    <% if flash[:notice] %>
      <div class="alert alert-success" style="text-align: center">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger" style="text-align: center">
        <%= flash[:alert] %>
      </div>
    <% end %>
  </div>
  <div class="card-body">
    <%= form_with(model: @user, url: password_reset_password_path) do |form|%>
      <div class="field">
        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"> <%= form.label :current_password %></span>
          </div>
          <%= form.password_field :current_password, class: 'form-control',autocomplete: 'off' %>
        </div>
      </div>

      <div class="field">
        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"> <%= form.label :new_password %></span>
          </div>
          <%= form.password_field :password_, class: 'form-control',autocomplete: 'off' %>
        </div>
      </div>

      <div class="field">
        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"> <%= form.label :confirm_new_password %></span>
          </div>
          <%= form.password_field :confirm_password, class: 'form-control',autocomplete: 'off' %>
        </div>
      </div>
      <div class="card-footer">
        <%= form.submit "Reset", class:'btn btn-danger' %>
      </div>
    <% end %>

  </div>

</div>